body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Arial', sans-serif;;
}
header{
    background-color: #005f73;
    color: white;
    margin: 15px 0px;
}
.header-container{
   max-width: 1200px; 
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
 header h2{
    margin-left: 20px;
 }
 /* header h2 nav ul li{
    text-decoration: double;
 } */
 nav ul{
    display: flex;
    list-style: none;
    /* margin: 10px; */
    
 }
 nav ul li{
    /* text-decoration: none; */
    margin-right: 20px;
 }
 nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;

 }
 #hero{
    /* background-image: url('https://i.imgur.com/oXrLmSl.jpg'); */
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

 }
 .hero-container{
    background-color: rgb(0, 0, 0,0.5);
    padding: 20px;
 }
 .hero-button{

    margin-top: 20px;
    text-decoration: none;
    background-color:  #ee6c4d;
    border-radius: 3px;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    /* transition:background-color 0.3s; */
 }
.hero-button :hover{
    background-color: #005f73;
}

footer{
    background-color: #005f73;
    padding: 2px;
    text-align: center;
    color: white;

}
.service h2{
    color: #005f73; 
    text-align: center;
}
.service p {
    text-align: center;
}
.service li{
    text-align: center;
    padding: 3px;
}

.About{
    background-color: #e1d4d4;
    padding: 50px;
}
.About h2{
    color: #005f73;
    text-align: center;
}
.About p{
    text-align: center;
}

.contact h2{
    color: #005f73;
    text-align: center
}
.contact p{
    text-align: center;
}

.contact
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .contact
  .fa:hover {
    opacity: 0.7;
}
.contact
.fa-facebook {
  background: #3B5998;
  color: white;
}
.contact
.fa-instagram{
    background: rgb(167, 58, 58);
    color: white;
}


@media screen and (max-width: 768px) {
    #services, #about, #contact {
        text-align: center;
    }
}