
.class{
    text-align: center;
    background-color: azure;
    border: 1px solid rgb(172, 155, 155);
    max-width: 500px;
    margin-left: 350px;
    border-radius: 10px;
}

header{
    text-align: center;
    padding: 10px;
    background-color:  #f4f4f4;
}
header img{
    height: 150px;
    width: 150px;
    border-radius: 70px;
    margin-bottom: 10px;
}
section{
    margin: 20px;
}
.project{

    height: 200px;
    width: 200px;
    border: 1px solid #ccc;
    display: inline-block;
    /* background-color: #f4f4f4; */
    background-image:url(background_img1.jpg);
    text-align: center;
    line-height: 200px
}
 
 