body{
    /* color: aqua; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* box-shadow: inset; */
    background-color: #05c46b;
}

form{
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 3px 10px rgb(0, 0, 0 ,0.9);

}
.form-control{
    text-align: left;
    margin-bottom: 30px;
}
.form-control label{
    display: block;
    margin-bottom: 10px;
}
.form-control input
.form-control select
.form-control textarea{

    border: 1px solid #777;
    text-align: left;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
    height: 30px;
}

/* .form-control input{
    width: 95%;
    height: 35px;
} */

.form-control input[type="redio"]
.form-control input[type="checkbox"]{
    display: inline-block;
    width: auto;
}


.form-control textarea{
    width: 95%;
    /* height: inherit; */
    height: 60px;
}

button{
    /* background-color: ;
     */
     background-color: #05c46b;
     border: 1px solid #777;
     font-family: inherit;
     font-size: 21px;
     display: block;
     width: 100%;
     margin-top: 50px;
     margin-bottom: 30px;

}
